<launch>
   <node name="arduino" pkg="dashgo_bringup" type="dashgo_driver.py" output="screen">
      <rosparam file="$(find dashgo_bringup)/config/my_dashgo_params.yaml" command="load" />
   </node>
   <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
   </node>

  <include file="$(find ydlidar)/launch/lidar.launch"/>
  <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>
  <include file="$(find dashgo_nav)/launch/gmapping.launch"/>
  <include file="$(find dashgo_nav)/launch/move_base.launch"/>
</launch>
